<footer class="footer">
  <small>
    TestUp
    by <a href="https://cryptic-taiga-13180.herokuapp.com/">Group 5</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
